# Ignore node_modules directory
node_modules/
pgdata/

# Ignore log files and databases
*.log
*.sqlite

# Ignore compiled files
*.class
*.jar

# Ignore operating system files
.DS_Store
Thumbs.db

# Ignore environment-specific files
.env

# Ignore IDE-specific files
.idea/
.vscode/
